@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h3>Controller : Home</h3>
<h3>Action : Help</h3>
<h3>question : @ViewBag.Question</h3>-->

<div class="">
<div class="row">
  <div class="col-md-4">
      <div class="card">
        <div class="card-header">
            @ViewBag.Dir
        </div>
        <div class="card-block">
            <h4 class="card-title">@ViewBag.Question</h4>
            <p class="card-text">Maybe go to StackOverflow?</p>
        </div>
    </div>
  </div>
</div>
</div>