<div>
  <div class="container">
    <div class="row">
      <div class="col col-md-8">
        <input type="button" value="Create" class="btn btn-info" (click)="goToCreate()" />
      </div>
    </div>
  </div>

</div>

<hr />

<div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="goToBook()">Books</button>
    <button type="button" class="btn btn-secondary" (click)="goToToy()">Toys</button>
    <button type="button" class="btn btn-secondary" (click)="goToClothing()">Clothing</button>
  </div>
  <router-outlet></router-outlet>
  <div class="shipcart" (click)="goToShopcart()">
    <i class="fa fa-shopping-cart fa-3x"></i>
  </div>
</div>

<main-footer></main-footer>
