<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AspNetSpa_Website</title>
        <base href="/" />
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        
		<!-- css -->
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        
        <link href="~/js/lib-npm/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/js/lib-npm/sweetalert2/sweetalert2.css" rel="stylesheet" />
        <link href="~/js/lib-npm/ng2-toastr/ng2-toastr.min.css" rel="stylesheet" />
        <link href="~/js/lib-npm/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <!-- js -->
        <script src="~/js/lib-npm/sweetalert2/sweetalert2.js"></script>
        <script src="~/js/lib-npm/ng2-toastr/ng2-toastr.min.js"></script>
        <script src="~/js/lib-npm/jsnlog/jsnlog.js"></script>
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
